<!DOCTYPE html>
<html>
<head>
	<title>Fighter</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/matrix.css')}}"/>
</head>
<body>
	<table style="height:15%;width:100%;position: absolute;font-size:20px;top:0;bottom:0;left:0;right:0;border:2px solid white;border-collapse:collapse;">
		<thead>
			<tr>
				<th style="height:10%;border:2px solid white;">Fighter 1</th>
				<th style="height:10%;border:2px solid white;"></th>
				<th style="height:10%;border:2px solid white;">Fighter 2</th>
				<th style="height:10%;border:2px solid white;">Winner</th>
				<th style="height:10%;border:2px solid white;">Start Time</th>
				<th style="height:10%;border:2px solid white;">Finish Time</th>
				<th style="height:10%;border:2px solid white;">Fight ID</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td style="border:1px solid white;text-align:center;font-size:18px">{{ fight[0] }}</td>
				<td style="border:1px solid white;text-align:center;font-size:50%"> vs.</td>
				<td style="border:1px solid white;text-align:center;font-size:18px">{{ fight[1] }}</td>
				<td style="border:1px solid white;text-align:center;font-size:18px">{{ fight[2] }}</td>
				<td style="border:1px solid white;text-align:center;font-size:18px">{{ fight[3] }}</td>
				<td style="border:1px solid white;text-align:center;font-size:18px">{{ fight[4] }}</td>
				<td style="border:1px solid white;text-align:center;font-size:18px">{{ fight[5] }}</td>
			</tr>
		<tbody>
	</table>
</body>
</html>
