<!DOCTYPE html>
<html>
<head>
	<title>Safetydome Fights</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/matrix.css')}}"/>
</head>
<body>
	<table style="height:100%;width:100%;position: absolute;font-size:32px;top:0;bottom:0;left:0;right:0;border:2px solid white;border-collapse:collapse;">
		<thead>
			<tr>
				<th style="height:10%;border:2px solid white;">Fighter 1</th>
				<th style="height:10%;border:2px solid white;"></th>
				<th style="height:10%;border:2px solid white;">Fighter 2</th>
				<th style="height:10%;border:2px solid white;">Winner</th>
				<th style="height:10%;border:2px solid white;">Fight ID</th>
			</tr>
		</thead>

		<tbody>
			{% for fight in fights %}
			<tr>
				<td style="border:1px solid white;text-align:center;font-size:50%"><a href="/combatant/{{ fight[0] }}">{{ fight[0] }}</a></td>
				<td style="border:1px solid white;text-align:center;font-size:50%"> vs.</td>
				<td style="border:1px solid white;text-align:center;font-size:50%"><a href="/combatant/{{ fight[1] }}">{{ fight[1] }}</a></td>
				<td style="border:1px solid white;text-align:center;font-size:50%">{{ fight[2] }}</td>
				<td style="border:1px solid white;text-align:center;font-size:50%"><a href="/battle/{{ fight[0] }}-{{ fight[1] }}">{{ fight[5] }}</a></td>
			</tr>
			{% endfor %}
			<tbody>
	</table>

</body>
</html>
