<!DOCTYPE html>
<html>
<head>
	<title>Fighter</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/matrix.css')}}"/>
</head>
<body>
	<table style="height:100%;width:100%;position: absolute;font-size:32px;top:0;bottom:0;left:0;right:0;border:2px solid white;">
		<thead>
			<tr>
				<th style="height:10%;border:2px solid white;">Combatant ID</th>
				<th style="height:10%;border:2px solid white;">Name</th>
				<th style="height:10%;border:2px solid white;">Species</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td style="border:1px solid white;text-align:center;">{{ combatant[0] }}</td>
				<td style="border:1px solid white;text-align:center;">{{ combatant[1] }}</td>
				<td style="border:1px solid white;text-align:center;">{{ combatant[2] }}</td>
			</tr>
			<tbody>
	</table>
</body>
</html>
