<!DOCTYPE html>
<html>
<head>
	<title>Safetydome</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/matrix.css')}}"/>
</head>
<body>
	<table style="height:100%;width:100%;position: absolute;font-size:32px;top:0;bottom:0;left:0;right:0;border:2px solid white;">
		<thead>
			<tr>
				<th style="height:10%;border:2px solid white;">Welcome to the Safetydome!</th>


			</tr>
		</thead>

		<tbody>
			<tr>
				<td style="border:1px solid white;text-align:center;"><a href="/results">Rankings</a>            </td>
			</tr>
			<tr>
				<td style="border:1px solid white;text-align:center;"><a href="/combatant">List of Combatants</a></td>
			</tr>			
			<tr>
				<td style="border:1px solid white;text-align:center;"><a href="/battle">Combat Results</a>       </td>
			</tr>
		</tbody>
	</table>
</body>
</html>



		


