<!DOCTYPE html>
<html>
<head>
	<title>Safetydome Rankings</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/matrix.css')}}"/>
</head>
<body>
	<table style="height:100%;width:100%;position: absolute;font-size:16px;top:0;bottom:0;left:0;right:0;border:2px solid white;">
		<thead>
			<tr>
				<th style="height:10%;border:2px solid white;">Rank</th>
				<th style="height:10%;border:2px solid white;">Combatant</th>
				<th style="height:10%;border:2px solid white;"># of Wins</th>
			</tr>
		</thead>

		<tbody>
			{% for combatant in combatants %}
			<tr>
				<td style="border:1px solid white;text-align:center;">{{ combatant[3] }}</td>
				<td style="border:1px solid white;text-align:center;"><a href="/combatant/{{ combatant[0] }}">{{ combatant[2] }}</a></td>
				<td style="border:1px solid white;text-align:center;">{{ combatant[1] }}</td>
			</tr> 
			{% endfor %}
		</tbody>
	</table>

</body>
</html>
